apiVersion: 1

contactPoints:
  - orgId: 1
    name: todo-webhook
    receivers:
      - uid: webhook-default
        type: webhook
        settings:
          url: "{{ grafana_webhook_url | default('http://127.0.0.1:9/disabled') }}"
          httpMethod: POST
        disableResolveMessage: false